body {
  background-color: #f4a261;
  font-family: cursive, sans-serif ;
  color: #2a9d8f;
}

.centralizar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px ; 
}

.container-verificador {
   
  max-width: 650px;
  max-height: 450px;
  background-color: #e9c46a;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  justify-content: center;
}

.verificador-titulo {
  margin: 10px;
  padding: 5px;
  
  
}

.verificador-titulo h1 {
  font-size: 55px;
  
}

.verificador-instrucao{
  padding: 0 30px;
  word-wrap: break-word;
  
}

.verificador-instrucao .titulo-instrucao{
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
}

.verificador-instrucao .texto-instrucao{
  font-size: 20px;
  text-align: center;
}

.frase-palindromo{
  padding: 30px 15px;
  
}
.box-verificador{
  display: flex;
  
}
input{
  width: 70%;
  height: 15px;
  border: none;
  border-bottom: 2px solid #e9c46a;
  padding: 6px 15px;
  outline: none;
  border-radius: 10px ;
  margin-right: 20px;
}

input:focus{
 border-bottom: 2px solid #2a9d8f;
 
}

#btn{
  width: 24.5%;
  height: 25px;
  border: none;
  background-color: #2a9d8f;
  border-radius: 10px;
  float: right;
  color: #e9c46a;
}
#btn:hover{
  color: #264653;
  cursor: pointer;
}
#resultado{
  margin-top: 25px ;
  text-align: center;
  font-weight: 500;
  display: block;
  font-size: 25px;
}